services:
  snapshotter-lite-local-collector:
    image: ghcr.io/powerloom/snapshotter-lite-local-collector:${LOCAL_COLLECTOR_IMAGE_TAG}
    container_name: snapshotter-lite-local-collector-${FULL_NAMESPACE}
    profiles: ["local-collector"]
    expose:
      - ${LOCAL_COLLECTOR_PORT}
    ports:
      - ${LOCAL_COLLECTOR_PORT}:${LOCAL_COLLECTOR_PORT}
    volumes:
      - ./shared-volume:/keys
    environment:
      - DATA_MARKET_CONTRACT=$DATA_MARKET_CONTRACT
      - LOCAL_COLLECTOR_PORT=$LOCAL_COLLECTOR_PORT
      - MAX_STREAM_POOL_SIZE=$MAX_STREAM_POOL_SIZE
      - STREAM_HEALTH_CHECK_TIMEOUT_MS=$STREAM_HEALTH_CHECK_TIMEOUT_MS
      - STREAM_WRITE_TIMEOUT_MS=$STREAM_WRITE_TIMEOUT_MS
      - MAX_WRITE_RETRIES=$MAX_WRITE_RETRIES
      - MAX_CONCURRENT_WRITES=$MAX_CONCURRENT_WRITES
      - DATA_MARKET_IN_REQUEST=$DATA_MARKET_IN_REQUEST
      - CONNECTION_REFRESH_INTERVAL_SEC=$CONNECTION_REFRESH_INTERVAL_SEC
    networks:
      - custom_network
    deploy:
      resources:
        limits:
          memory: 150M
    restart: always
  snapshotter-lite-v2:
    image: ghcr.io/powerloom/snapshotter-lite-v2:${IMAGE_TAG}
    container_name: snapshotter-lite-v2-${SLOT_ID}-${FULL_NAMESPACE}
    volumes:
      - ./logs-${FULL_NAMESPACE_LOWER}:/app/logs
    environment:
      - SIGNER_ACCOUNT_ADDRESS=$SIGNER_ACCOUNT_ADDRESS
      - SIGNER_ACCOUNT_PRIVATE_KEY=$SIGNER_ACCOUNT_PRIVATE_KEY
      - FULL_NAMESPACE=$FULL_NAMESPACE
      - SLOT_ID=$SLOT_ID
      - SOURCE_RPC_URL=$SOURCE_RPC_URL
      - POWERLOOM_RPC_URL=$POWERLOOM_RPC_URL
      - IPFS_URL=$IPFS_URL
      - IPFS_API_KEY=$IPFS_API_KEY
      - IPFS_API_SECRET=$IPFS_API_SECRET
      - PROTOCOL_STATE_CONTRACT=$PROTOCOL_STATE_CONTRACT
      - DATA_MARKET_CONTRACT=$DATA_MARKET_CONTRACT
      - LOCAL_COLLECTOR_PORT=$LOCAL_COLLECTOR_PORT
      - NAMESPACE=$NAMESPACE
      - TELEGRAM_REPORTING_URL=$TELEGRAM_REPORTING_URL
      - TELEGRAM_CHAT_ID=$TELEGRAM_CHAT_ID
      - TELEGRAM_NOTIFICATION_COOLDOWN=$TELEGRAM_NOTIFICATION_COOLDOWN
      - SNAPSHOT_CONFIG_REPO=$SNAPSHOT_CONFIG_REPO
      - SNAPSHOT_CONFIG_REPO_BRANCH=$SNAPSHOT_CONFIG_REPO_BRANCH
      - SNAPSHOTTER_COMPUTE_REPO=$SNAPSHOTTER_COMPUTE_REPO
      - SNAPSHOTTER_COMPUTE_REPO_BRANCH=$SNAPSHOTTER_COMPUTE_REPO_BRANCH
    command: >
      bash -c "
        rm -f /app/last_successful_submission.txt;
        trap 'rm -f /app/last_successful_submission.txt' SIGTERM;
        bash init_docker.sh;
      "
    extra_hosts:
      - "host.docker.internal:host-gateway"
    networks:
      - custom_network
    restart: always
    deploy:
      resources:
        limits:
          memory: 200M
networks:
  custom_network:
    name: ${DOCKER_NETWORK_NAME}
    driver: bridge
    external: true
