# Required
SOURCE_RPC_URL=<source-rpc-url>
SIGNER_ACCOUNT_ADDRESS=<signer-account-address>
SIGNER_ACCOUNT_PRIVATE_KEY=<signer-account-private-key>
SLOT_ID=<slot-id>
SNAPSHOT_CONFIG_REPO=https://github.com/powerloom/snapshotter-configs
SNAPSHOT_CONFIG_REPO_BRANCH=<snapshot-config-repo-branch>
SNAPSHOTTER_COMPUTE_REPO=https://github.com/powerloom/snapshotter-computes
SNAPSHOTTER_COMPUTE_REPO_BRANCH=<snapshotter-compute-repo-branch>
DOCKER_NETWORK_NAME=<docker-network-name>
POWERLOOM_RPC_URL=<powerloom-rpc-url>
DATA_MARKET_CONTRACT=<data-market-contract>
NAMESPACE=<namespace>
POWERLOOM_CHAIN=<powerloom-chain>
SOURCE_CHAIN=<source-chain>
FULL_NAMESPACE=<full-namespace>
LOCAL_COLLECTOR_PORT=50051
MAX_STREAM_POOL_SIZE=2
STREAM_POOL_HEALTH_CHECK_INTERVAL=30
DATA_MARKET_IN_REQUEST=true
# Optional
LOCAL_COLLECTOR_IMAGE_TAG=latest
IPFS_URL=
IPFS_API_KEY=
IPFS_API_SECRET=
DASHBOARD_ENABLED=
TELEGRAM_REPORTING_URL=https://tg-testing.powerloom.io/
TELEGRAM_CHAT_ID=<telegram-chat-id>
TELEGRAM_NOTIFICATION_COOLDOWN=300
DEV_MODE=false
CONNECTION_REFRESH_INTERVAL_SEC=<seq-conn-refresh-interval>
OVERRIDE_DEFAULTS=false