# Required
SOURCE_RPC_URL=<source-rpc-url>
SIGNER_ACCOUNT_ADDRESS=<signer-account-address>
SIGNER_ACCOUNT_PRIVATE_KEY=<signer-account-private-key>
SLOT_ID=<slot-id>
PROST_RPC_URL=https://rpc-prost1h-proxy.powerloom.io
PROTOCOL_STATE_CONTRACT=0xDD5928cBfcFc2e3b7003eF97E6B3a3e24B15c993
RELAYER_HOST=https://prost1h-relayer-public.powerloom.io
NAMESPACE=UNISWAPV2
POWERLOOM_REPORTING_URL=https://nms-testnet-reporting.powerloom.io
PROST_CHAIN_ID=11165
SEQUENCER_ID=QmdJbNsbHpFseUPKC9vLt4vMsfdxA4dyHPzsAWuzYz3Yxx
RELAYER_RENDEZVOUS_POINT=Relayer_POP_test_simulation_phase_1
CLIENT_RENDEZVOUS_POINT=POP_Client_simulation_test_alpha
# Optional
IPFS_URL=
IPFS_API_KEY=
IPFS_API_SECRET=
SLACK_REPORTING_URL=
WEB3_STORAGE_TOKEN=
DASHBOARD_ENABLED=
