# Required
SOURCE_RPC_URL=<source-rpc-url>
SIGNER_ACCOUNT_ADDRESS=<signer-account-address>
SIGNER_ACCOUNT_PRIVATE_KEY=<signer-account-private-key>
SLOT_ID=<slot-id>
SNAPSHOT_CONFIG_REPO=https://github.com/powerloom/snapshotter-configs
SNAPSHOT_CONFIG_REPO_BRANCH=<snapshot-config-repo-branch>
SNAPSHOTTER_COMPUTE_REPO=https://github.com/powerloom/snapshotter-computes
SNAPSHOTTER_COMPUTE_REPO_BRANCH=<snapshotter-compute-repo-branch>
DOCKER_NETWORK_NAME=
PROST_RPC_URL=https://rpc-prost1m.powerloom.io
PROTOCOL_STATE_CONTRACT=0xF68342970beF978697e1104223b2E1B6a1D7764d
DATA_MARKET_CONTRACT=<data-market-contract>
NAMESPACE=<namespace>
POWERLOOM_REPORTING_URL=https://nms-testnet-reporting.powerloom.io
PROST_CHAIN_ID=11169
LOCAL_COLLECTOR_PORT=50051
CORE_API_PORT=8002
SUBNET_THIRD_OCTET=1
MAX_STREAM_POOL_SIZE=2
STREAM_POOL_HEALTH_CHECK_INTERVAL=30
DATA_MARKET_IN_REQUEST=true
# Optional
IPFS_URL=
IPFS_API_KEY=
IPFS_API_SECRET=
SLACK_REPORTING_URL=
WEB3_STORAGE_TOKEN=
DASHBOARD_ENABLED=
TELEGRAM_REPORTING_URL=https://tg-testing.powerloom.io/
TELEGRAM_CHAT_ID=<telegram-chat-id>
