POWERLOOM_RPC_URL=https://rpc-v2.powerloom.network
ADDRESS_INPUT= #0xaddressthatyoupurchasednode
SENDER_PK= #0xprivatekeyofaboveaddress
NODESTAKING_ADDRESS=0x512e6725a21E92fF615646b148fB99c11C63795E
POWERLOOM_NODES_ADDRESS=0x000AA7d3a6a2556496f363B59e56D9aA1881548F